
body {
  background-color: burlywood;
}

@font-face {
  src: url(massive retailiation.ttf);
  font-family: mass;
}

.h1{
  color: black;
  font: 16px;
=======
}

.box1 {
  border: red solid 3px;
  padding: 20px;
}

.box2 {
  background-image: url(test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
  width: 100%;
}
