
body {
  background-color: burlywood;
}

@font-face {
<<<<<<< HEAD
  src: url(massiveretaliation.ttf);
=======
  src: url(massive_retaliation.ttf);
>>>>>>> ab6550d60a325e0c82d24e1605263124289057ce
  font-family: mass;
}

.h1{
  color: black;
  font: 16px;
  font-family: mass;
}

.box1 {
  border: red solid 3px;
  padding: 20px;
}

.box2 {
  background-image: url(test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}
